<div class="container-fluid bg-nyanza">
    <div class="container-fluid wide row">
      <div class=" col-12 col-md-3">
        <img src="/assets/aboutImage-regina.jpg" class="aboutImage" alt="regina">
      </div>
      <div class="container-fluid col-12 col-md-9 p-5">
        <h3 class="font-primary index-aboutheader pl-5 pt-4 pb-2">Sway to the <b>&nbsp;Rythm of Health</b>.</h3>
        <p class="font-secondary index-aboutpara px-5">I am Regina Pinheiro, and I am so happy that you are here!<br> I’m a Clinical Dietician & Wellness Consultant on mission to get you the best of the Nutrition world. <a href="#" class="text-dark"><b>Learn more about me</b></a>.</p>
      </div>
    </div>
</div>