<div class="container-fluid bg-nyanza">
    <div class="container-fluid wide row">
      <div class=" col-12 col-md-3">
        <img src="/assets/aboutImage-regina.jpg" class="aboutImage" alt="regina">
      </div>
      <div class="container-fluid col-12 col-md-9 px-0 mb-5 p-md-5">
        <h3 class="font-primary index-aboutheader mb-0 mb-md-1 pl-md-5 pt-4 pb-md-2">Sway to the<span class="font-weight-bold d-none d-md-block">&nbsp;Rythm of Health</span></h3>
        <h3 class="d-md-none font-weight-bold font-primary mb-4">Rythm of Health</h3>
        <p class="font-secondary index-aboutpara px-md-5">I am Regina Pinheiro, and I am so happy that you are here!<br class="d-none d-md-block"> I’m a Clinical Dietician & Wellness Consultant on a mission to get you the best of the Nutrition world. <a href="/about-us" class="text-dark"><b>Learn more about me</b></a>.</p>
      </div>
    </div>
</div>