<div class="container-fluid m-0 p-0 bg-dark h-auto">
    <nav class="nav super-wide navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="/assets/navbar-logo.png" width="98" height="58" class="d-inline-block align-top" alt="" loading="lazy">
            <span class="navbar-brand pl-2">Healthy Rythm</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto mr-0 pr-0">
                <a class="nav-item nav-link px-4" id="page1" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link px-4" id="page2" href="/blogs:">Blog</a>
                <a class="nav-item nav-link px-4" id="page3" href="/services">Services</a>
                <a class="nav-item nav-link p-4 active" id="page4" href="/about-us">About</a>                    
                <a class="nav-item nav-link px-4" id="page5" href="/contact-us">Contact</a>
            </div>
        </div>          
    </nav>
    <img src="/assets/login-imagebar.png" alt="login-imagebar" class="img-fluid m-0 p-0 w-100">
</div>


<div class="container-fluid wide my-5 aboutUs-mainTitle font-primary">
    Healthy Rythm a One-step solution for your <br>Nutritional needs.
</div>
<div class="container-fluid wide font-primary aboutUs-intro my-3">
    I am Regina Pinheiro, I am the founder of Healthy Rythm. I started <br>Healthy Rythm to better reach all of my clients and provide better <br>services to all of my clients.
</div>
<div class="container-fluid my-5 p-0">
    <img src="/assets/aboutUs-mainImage.jpg" class="img-fluid" alt="Healthy Food">
</div>

<div class="container-fluid wide row my-5">
    <div class="col-12 col-md-6 mt-3 mb-5">
        <p class="font-secondary aboutUS-para">
            Regina Pinheiro is a Specialist in Medical Nutritional Therapy and Diet Counselling. She is a Blogger and her Inputs & Quotes have been mentioned in various Print media. She is also a Member of the Indian Dietetic Association.
        </p>
        <br>
        <p class="font-secondary aboutUS-para">
            She is a qualified Clinical Dietician with rich experience in dealing with critically ill patients adhering to their nutritional care. She has served various patients at The Bhatia Hospital, Tardeo, Mumbai as a Clinical Dietician. She is an expert at Enteral and Parental Nutritional Feeds. She has provided Palliative Care for Pediatric Cancer Patients. Collaborations with various Corporate and School Programs. Conducted Mother & Child Health Camps. Counselling Sessions for enthusiastic Marathon Runners.
        </p>
        <br>
        <p class="font-secondary aboutUS-para">
            She has also helped Restaurants and Cafeterias design Nutritious and tasty menus. Her culinary skills and passion for food can be seen in the food Craft workshops that she organizes. Dietician Regina believes that “Healthy can be Tasty Too.” Healthy Rythm, provides expert advice for Pregnancy, Pre & Post Maternal Care, Pediatric Nutrition, Nutrition Goals for Adolescent Growth & Development, Sports Nutrition, Preventive & Disease Specific Diet for Diabetic Care, Hypertension, PCOD/PCOS, Thyroid, Arthritis, Obesity, Kidney Dysfunction, Liver Disorder, etc.
        </p>
    </div>
    <div class="col-12 col-md-6 mt-3 mb-5">
        <div class="container-fluid m-0 h-100" id="AboutUs-imageContainer">
            <img src="/assets/aboutImage-para2.jpg" id="aboutUsImage-para2" class="img-fluid aboutUs-Regina" alt="Regina Pinheiro">
            <img src="/assets/aboutImage-para1.jpg" id="aboutUsImage-para1" class="img-fluid aboutUs-Regina" alt="Regina Pinheiro">
        </div>
        
        <p class="font-secondary aboutUS-para pl-5" id="AboutUs-paraUnderImages">
            Healthy Rythm helps you in helping yourselves to attain Optimum Nutrition & Health. Healthy Rythm believes that Diet is just not a short term goal to be achieved but a Lifestyle Modification to lead a Healthy & Fit Life Continually.
        </p>
    </div>
</div>





<div class="container-fluid bg-nyanza mt-5">
    <div class="container-fluid wide row font-primary">
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=reginapinheiro19@gmail.com" target="_blank" class="text-decoration-none container-fluid m-0 col-12 col-md-6 bottom-links h-100 p-5 text-dark bottom-links-left">
            <span class="font-primary bottom-links-emailBtn m-0">feel free to contact me at</span>
            <h5 class="font-weight-bold">reginapinheiro19@gmail.com</h5>
        </a>
        <!-- <a href="/blogs" class="text-decoration-none container-fluid col-12 col-md-6 bottom-links h-100 p-5 text-dark">see our blogs &nbsp;<i class="fas fa-arrow-right bottom-links-icon"></i></a> -->
        <a href="/work-with-us" class="text-decoration-none container-fluid col-12 col-md-6 bottom-links m-auto p-5 text-dark h-100">work with us &nbsp;<i class="fas fa-arrow-right bottom-links-icon"></i></a>
    </div>
</div>
<%- include ('../views/partials/mailingListBlock.ejs') %>


