<div class="container-fluid m-0 p-0 bg-dark h-auto">
    <nav class="nav super-wide navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="/assets/navbar-logo.png" width="98" height="58" class="d-inline-block align-top" alt="Healthy Rythm Logo" loading="lazy">
            <span class="navbar-brand pl-2">Healthy Rythm</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto mr-0 pr-0">
                <a class="nav-item nav-link px-4" id="page1" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link px-4" id="page2" href="/blogs:">Blog</a>
                <a class="nav-item nav-link p-4 active" id="page3" href="/services">Services</a>
                <a class="nav-item nav-link px-4" id="page4" href="/about-us">About</a>                    
                <a class="nav-item nav-link px-4" id="page5" href="/contact-us">Contact</a>
            </div>
        </div>          
    </nav>
    <img src="/assets/login-imagebar.png" alt="services-imagebar" class="img-fluid m-0 p-0 w-100">
</div>



<div class="container-fluid wide row py-5 mb-3">
    <div class="col-9 pr-5">
        <div class="card-deck">
            <div class="card services-card">
                <div class="card-body">
                    <h5 class="card-title font-primary services-title">Diet Prescription</h5>
                    <p class="card-text font-secondary services-paragraph pl-1 pr-3">Get a structured and prescriptive meal plan with detailed instruction on types and portion size of food, as well as when to eat.</p>
                </div>
                <div class="card-footer services-footer bg-white">
                    <button class="btn bg-dark text-white font-secondary services-button px-3 mb-2" onclick="window.location.href='/services-booking:diet-prescription';">BOOK NOW</button>
                </div>
            </div>

            <div class="card services-card">
                <div class="card-body">
                    <h5 class="card-title font-primary services-title">Preventive Diet</h5>
                    <p class="card-text font-secondary services-paragraph pl-1 pr-3">Get a diet based on nutrition science with the goal of preventing or delaying or reducing the impacts of disease and disease-related complications.</p>
                </div>
                <div class="card-footer services-footer bg-white">
                    <button class="btn bg-dark text-white font-secondary services-button px-3 mb-2" onclick="window.location.href='/services-booking';">BOOK NOW</button>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card services-card">
                <div class="card-body">
                    <h5 class="card-title font-primary services-title">Workshops</h5>
                    <p class="card-text font-secondary services-paragraph pl-1 pr-3">I use fun, interactive methods to teach you about fitness, nutrition, stress management, and other aspects of health and well-being that can impact your physical, emotional, and social health.</p>
                </div>
                <div class="card-footer services-footer bg-white">
                    <button class="btn bg-dark text-white font-secondary services-button px-3 mb-2" onclick="window.location.href='/services-booking';">BOOK NOW</button>
                </div>
            </div>

            <div class="card services-card">
                <div class="card-body">
                    <h5 class="card-title font-primary services-title">Sports Nutrition</h5>
                    <p class="card-text font-secondary services-paragraph pl-1 pr-3">Optimize your athletic performance with a diet which helps athletes to keep their bodies in good condition before, after and during exercise.</p>
                </div>
                <div class="card-footer services-footer bg-white">
                    <button class="btn bg-dark text-white font-secondary services-button px-3 mb-2" onclick="window.location.href='/services-booking';">BOOK NOW</button>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card services-card">
                <div class="card-body">
                    <h5 class="card-title font-primary services-title">Lifestyle Modification</h5>
                    <p class="card-text font-secondary services-paragraph pl-1 pr-3">Learn how to be healthier by making small changes to your Lifestyle.</p>
                </div>
                <div class="card-footer services-footer bg-white">
                    <button class="btn bg-dark text-white font-secondary services-button px-3 mb-2" onclick="window.location.href='/services-booking';">BOOK NOW</button>
                </div>
            </div>

            <div class="card services-card" id="Cousomized-Diet">
                <div class="card-body">
                    <h5 class="card-title font-primary services-title">Customized Diet Plans</h5>
                    <p class="card-text font-secondary services-paragraph pl-1 pr-3">Diet Plans that are taylor made to your unique requirements. Get yours now to get better personal results.</p>
                </div>
                <div class="card-footer services-footer bg-white">
                    <button class="btn bg-dark text-white font-secondary services-button px-3 mb-2" onclick="window.location.href='/services-booking';">BOOK NOW</button>
                </div>
            </div>
        </div>
        <div class="card-deck mt-4">
            <div class="card services-card">
                <div class="card-body">
                    <h5 class="card-title font-primary services-title">Health Risk Accessment</h5>
                    <p class="card-text font-secondary services-paragraph pl-1 pr-3">A Health Risk Assessment is the process to estimate the nature and probability of adverse health effects do to Lifestyle or other factors that may cause health risks.</p>
                </div>
                <div class="card-footer services-footer bg-white">
                    <button class="btn bg-dark text-white font-secondary services-button px-3 mb-2" onclick="window.location.href='/services-booking';">BOOK NOW</button>
                </div>
            </div>

            <div class="card services-card" id="Nutritional-councelling">
                <div class="card-body">
                    <h5 class="card-title font-primary services-title">Nutritional Counselling</h5>
                    <p class="card-text font-secondary services-paragraph pl-1 pr-3">Get help to set achievable health goals and learn various ways of maintaining these goals throughout your lifetime.</p>
                </div>
                <div class="card-footer services-footer bg-white">
                    <button class="btn bg-dark text-white font-secondary services-button px-3 mb-2" onclick="window.location.href='/services-booking';">BOOK NOW</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 mb-auto mt-0 bg-white p-0">
        <div class="card w-100 m-0 border-0 services-aboutCard">
            <img src="/assets/services-about-rightsidebar.jpg" class="card-img-top" alt="Dietition Regina Pinheiro">
            <div class="card-body">
              <p class="card-text font-secondary text-center">I am <span class="services-about-font-bold">Regina Pinheiro</span>, and I am happy that you are here! I’m a Clinical Dietician & Wellness Consultant on a mission to get you the best of the Nutrition world.</p>
            </div>
            <div class="card-footer bg-white border-0">
                <a href="/about-us" class="text-decoration-none text-dark">KNOW MORE ABOUT ME</a>
            </div>
        </div>
    </div>
    
</div>

<div class="container-fluid bg-nyanza row mt-5 mx-0">
    <a href="/work-with-us" class="text-decoration-none container-fluid col bottom-links h-100 p-5 text-dark font-primary">WORK WITH US &nbsp;<i class="fas fa-arrow-right bottom-links-icon"></i></a>
</div>


<%- include ('../views/partials/mailingListBlock.ejs') %>