@media (max-width: 576px) { 
    .bottom-links-right, .bottom-links-left {
        border: none !important;
    }

    .bottom-links-top {
        border-top: 0.01rem solid #1212121e !important;
    }

    .index-aboutheader {
        font-size: 2rem !important;
        white-space: pre-wrap;
    }

    .aboutImage {
        max-height: 18rem !important;
        max-width: 12rem !important;
    }

    .carousel-caption {
        top: 20% !important;
    }

    #navbarNavAltMarkup {
        background-color: #12121238 !important;
    }

    nav .indexPage-navItem {
        background-color: #f2f6ea !important;
        color: #252525 !important;
        border-radius: 10px;
        margin-top: 2%;
    }

    @media (max-width: 376px) {
        .carousel-caption h3 {
            font-size: 2rem !important;
        }
    
        .carousel-caption p {
            display: 0.9rem;
            width: 70% !important;
        }

        .carousel-caption {
            bottom: 15% !important;
        }
    }

    #bio-image1 {
        left: 85% !important;
        margin-top: 15% !important;
        transform: rotate(13deg) !important;
    }

    #bio-image2 {
        left: -45% !important;
        margin-top: 90% !important;
        transform: rotate(-4deg) !important;
    }

    #bio-image3 {
        left: 88% !important;
        margin-top: 150% !important;
        transform: rotate(5deg) !important;
    }




    /* BLOGS MAIN PAGE */
    .blogs-image {
        height: 12rem !important;
    }

    .sidepanel  {
        width: 0;
        position: fixed;
        z-index: 51;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidepanel a:hover {
        color: #f1f1f1;
      }
      
      .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
      }
      
      .openbtn {
        font-size: 18px;
        cursor: pointer;
        color: white;
        padding: 10px 15px;
        border: 0.01rem solid #25252536 !important;
        border-radius: 0px 5px 5px 0px;
        border-left: none !important;
        position: sticky;
        top: 30%;
        z-index: 50;
      }





    /* SERVICES BOOKING PAGE */
    




    /* ABOUT US PAGE */
    #aboutUsImage-para2 {
        display: none;
    }
    #aboutUsImage-para1 {
        position: relative !important;
        filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
        transform: rotate(-5.65deg);
        max-height: 23rem;
    }
    #AboutUs-paraUnderImages {
        position: relative !important;
    }


    /* CONTACT US PAGE */
    .contactUs-FormContainer {
        border: none !important;
    }
}